<div class="modal-header">
  <h3 class="modal-title">Australian Flammability Monitoring System</h3>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>
    The Australian Flammability Monitoring System (AFMS) web explorer provides easier and faster access to spatial
    information on:
  </p>

  <ul>
    <li>Live Fuel Moisture Content (FMC), in kg water per kg dry matter expressed as a percentage.</li>
    <li>Uncertainty in the FMC values, in the same units.</li>
    <li>A Flammability Index (FI), providing a relative measure of fuel flammability between 0 and 1.</li>
    <li>Soil moisture content near the surface (0-10 cm), in m3 water per m3 of soil volume.</li>
    <li>Soil moisture content in the shallow soil (10-35 cm), in the same units.</li>
  </ul>

  <p>
    The overarching objective is to assist users in better resources allocation in fire protection and response and
    improved awareness of fire hazards to people and property.
  </p>

  <p>
    The AFMS allows users to visualise and interpret national-scale information on FMC, flammability and soil moisture
    as maps or graphs.
  </p>

  <p>
    Data can be compared to preceding years or downloaded for further analysis.
  </p>

  <h3>
    Data sources:
  </h3>
  <p>
    Yebra, M., Quan, X., Riano, D., Rozas-Larraondo, P., van Dijk, A., Cary, G.  A fuel moisture content and flammability monitoring methodology for continental Australia based on optical remote sensing. Remote Sensing of Environment.
    <br/>
    Volume 212, Pages 260–272.
    <br/>
    <a href="https://authors.elsevier.com/c/1X1fe7qzSjUMa">https://authors.elsevier.com/c/1X1fe7qzSjUMa</a>
  </p>
  <p>
    Dharssi, I., and Vinodkumar, 2017, <i>JASMIN: A prototype high resolution soil moisture analysis system for
    Australia</i>, Research Report No. 026, Bureau of Meteorology.
    <a href="http://www.bom.gov.au/research/publications/researchreports/BRR-026.pdf">http://www.bom.gov.au/research/publications/researchreports/BRR-026.pdf</a>
  </p>
</div>
