<div class="modal-header">
  <h3 class="modal-title">Australian Flammability Monitoring System</h3>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>
  The The Australian Flammability Monitoring System (AFMS) web explorer makes spatial information on Live Fuel Moisture Content (FMC) derived
 from satellite observations easier and faster to access.
</p>
<p>
  The overarching objective is to assist users in better resources allocation in fire protection and response and improved awareness of 
fire hazards to people and property.
</p>
<p>
  The AFMS allows users to visualise and interpret national-scale information on FMC and flammability as maps or graphs.
</p>
<p>
  Data can be compared to preceding years or downloaded for further analysis.
</p>

</div>