<div class="input-group input-group-sm">
  <!--
  <div *ngFor="let l of layers" class="form-group">
    <label>
      <input name="layerRadios"
             type="radio"
             [(ngModel)]="selectedLayer"
             [value]="l"
             (ngModelChange)="layerChange($event)">
      <i [ngClass]="l.icon" class="fa"></i> {{l.name}}
    </label>
  </div>
  -->
  <select class="form-control form-control-sm"
          name="layerSelect"
          [(ngModel)]="selectedLayer"
          (ngModelChange)="layerChange($event)">
    <option *ngFor="let l of layers" [ngValue]="l">
      <i [ngClass]="l.icon" class="fa"></i> {{l.name}}
    </option>
  </select>
</div>
