  <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-header">
        <span class="navbar-brand">
          <div class="header-block"></div>
          <span class="header-title">Australian Flammability Monitoring System</span>
        </span>

      </div>
      <div class="navbar-right">
        <span>
          <a href="http://www.bnhcrc.com.au" target="_blank">
            <img  class="bnhcrc-logo"
                  alt="Bushfires and Natural Hazards CRC"
                  src="assets/logo_BNHCRC.png"
                  height="40">
          </a>
        </span>
      </div>

      <div ng-if="!embedded" id="navbar" class="navbar-collapse collapse" ng-class="{'in':!selection.navbarCollapsed}">
          <form class="hidden-xs fullscreen-form navbar-form navbar-right">
            <button ngsf-toggle-fullscreen class="btn btn-primary" uib-tooltip="Toggle Fullscreen"
                    tooltip-placement="bottom" tooltip-append-to-body="true">
              <i show-if-fullscreen=false class="fa fa-expand"></i>
              <i show-if-fullscreen=true class="fa fa-compress"></i>
            </button>
          </form>

      </div>
  </nav>
<div class="container-fluid">
  <div class="row">
    <router-outlet></router-outlet>
  </div>

  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-4">
          <span>
            <a href="#" (click)="aboutSite($event)" >About this site</a> |
            <a href="mailto:marta.yebra@anu.edu.au?subject=Feedback from Australian Flammability Monitoring System">Send feedback</a> |
            <a href="https://www.youtube.com/watch?v=mfFjmuIS3RQ" target="_blank">Site Tour</a>
          </span>
        </div>
        <div class="col-6">
        </div>
        <div class="col-2">
          <a class="pull-right" href="http://www.anu.edu.au" target="_blank">
            <img alt="Australian National University" height="35" src="assets/logo_ANU.png">
          </a>
        </div>
      </div>
    </div>
  </footer>
</div>
