<div class="date-control container-fluid">
  <div class="row pb-1">
      <button class="btn btn-sm col-2" [disabled]="atMin"
              (click)="move(-selection.timeStep)"><i class="fa fa-chevron-left"></i></button>
      <div class="input-group input-group-sm col px-1">
        <input class="form-control form-control-sm" id="dateInputGroup" placeholder="yyyy-mm-dd"
               name="dp" [(ngModel)]="selection.date" (ngOnChange)="dateChanged()"
               ngbDatepicker #d="ngbDatepicker"
               [maxDate]="maxDate" [minDate]="minDate">
        <div class="input-group-append" for="dateInputGroup"(click)="d.toggle()" >
          <span class="input-group-text">
            <i class="fa fa-calendar"></i>
          </span>
        </div>
      </div>
      <button class="btn btn-sm col-2" [disabled]="atMax"
              (click)="move(selection.timeStep)"><i class="fa fa-chevron-right"></i></button>
  </div>
</div>
