<div class="main-map">
    <agm-map
      [(latitude)]="lat"
      [(longitude)]="lng"
      [(zoom)]="zoom"
      [disableDefaultUI]="false"
      [mapTypeId]="baseLayer?baseLayer.map_type_id : null"
      [zoomControl]="false"
      (mapClick)="mapClick($event)"
      (centerChange)="moved($event)"
      (zoomChange)="moved($event)"
      scaleControl="true">

      <agm-marker *ngIf="marker"
                  [longitude]="marker.loc.lng"
                  [latitude]="marker.loc.lat">

        <agm-info-window [disableAutoPan]="true" [isOpen]="marker.open">
          <strong>{{marker.value}}</strong>
        </agm-info-window>
      </agm-marker>

<!--
      <wms-layer *ngIf="wmsParametersSat" #wmsSat
        [url]="wmsURL"
        [params]="wmsParametersSat"
        [opacity]="0.5"
        [position]="0">
      </wms-layer>

      <wms-layer #wms
        [url]="wmsURL"
        [params]="wmsParameters"
        [opacity]="0.5"
        [position]="1">
      </wms-layer>
-->
      <wms-layer #wms
                     *ngIf="mainLayer?.layer"
                     [url]="mainLayer.url"
                     [params]="mainLayer.wmsParameters"
                     [opacity]="mainLayer.opacity"
                     [position]="0">
      </wms-layer>

      <wms-layer #wmsMask *ngIf="showMask"
        [url]="maskLayer.url"
        [params]="maskLayer.wmsParameters"
        [opacity]="maskLayer.opacity"
        [position]="1">
      </wms-layer>

      <agm-data-layer *ngIf="geoJsonObject"
                      [geoJson]="geoJsonObject"
                      (layerClick)="clicked($event)"
                      [style]="staticStyles">
      </agm-data-layer>

<!--
      <app-map-control position="RIGHT_BOTTOM">
      </app-map-control>
-->
      <map-control position="TOP_LEFT" class="test">
        <div class="card dateSearchCard map-control">
          <div class="card-block control-card-content">
            <app-date-control [start]="dateRange.start" [end]="dateRange.end"></app-date-control>
            <fmc-search (coordinatesSelected)="moveAndZoom($event)"></fmc-search>
          </div>
        </div>

        <div class="card layerSelectorCard map-control">
          <div class="card-block control-card-content">
            <fmc-layer-control (layerChanged)="layerChanged($event)"></fmc-layer-control>
            <fmc-vector-layer-selection (selectedLayerChanged)="vectorLayerChanged($event)"></fmc-vector-layer-selection>
            <fmc-base-layer-selection (baseLayerChanged)="baseLayerChanged($event)"></fmc-base-layer-selection>
            <fmc-layer-opacity-selector (opacityChanged)="opacityChanged($event)">
            </fmc-layer-opacity-selector>
          </div>
        </div>
      </map-control>

      <map-control position="LEFT_BOTTOM">
        <div *ngIf="mainLayer?.layer" class="card map-control">
          <div class="card-block control-card-content">
            <map-legend [title]="mainLayer.layer.name"
                        [mapUnits]="mainLayer.layer.units"
                        [cbPalette]="mainLayer.layer.palette?.name"
                        [cbCount]="mainLayer.layer.palette?.count"
                        [cbReverse]="mainLayer.layer.palette?.reverse"
                        [cbRange]="mainLayer.layer.range"
                        [colours]="mainLayer.layer.colours"
                        [labels]="mainLayer.layer.labels"
                        [helpText]="mainLayer.layer.description"></map-legend>
          </div>
        </div>
      </map-control>

      <map-control position="BOTTOM_CENTER">
        <div class="card map-control chart">
          <a (click)="chartIsCollapsed = !chartIsCollapsed">
            <div class="card-header">
              <h6 class="mb-0">
                Chart
                <span *ngIf="chartIsCollapsed" class="fa fa-angle-up
                  collapse-arrow" aria-hidden="true"></span>
                <span *ngIf="!chartIsCollapsed" class="fa fa-angle-down
                  collapse-arrow" aria-hidden="true"></span>
              </h6>
            </div>
          </a>

          <div class="ngbCollapse" [ngbCollapse]="chartIsCollapsed">
            <div class="card-block control-card-content">
              <app-charts [coordinates]="selectedCoordinates"
                          [year] = "selection.year" ></app-charts>
            </div>
          </div>
        </div>
      </map-control>

    </agm-map>
    <!--

      (mapClick)="mapClicked($event)">

      <sebm-google-map-marker
          *ngFor="let m of markers; let i = index"
          (markerClick)="clickedMarker(m.label, i)"
          [latitude]="m.lat"
          [longitude]="m.lng"
          [label]="m.label"
          [markerDraggable]="m.draggable"
          (dragEnd)="markerDragEnd(m, $event)">

        <sebm-google-map-info-window>
          <strong>InfoWindow content</strong>
        </sebm-google-map-info-window>

      </sebm-google-map-marker>

      <sebm-google-map-circle [latitude]="lat + 0.3" [longitude]="lng"
          [radius]="5000"
          [fillColor]="'red'"
          [circleDraggable]="true"
          [editable]="true">
      </sebm-google-map-circle>
    -->
</div>
