<div class="main-map">
    <agm-map [(latitude)]="lat"
      [(longitude)]="lng"
      [(zoom)]="zoom"
      [disableDefaultUI]="false"
      [mapTypeId]="baseLayer?baseLayer.map_type_id : null"
      [zoomControl]="false"
      (mapClick)="mapClick($event)"
      (centerChange)="moved($event)"
      (zoomChange)="moved($event)"
      scaleControl="true">

      <agm-marker *ngIf="selectedCoordinates"
                              [longitude]="selectedCoordinates.lng"
                              [latitude]="selectedCoordinates.lat"
                              [openInfoWindow]="true">
        <agm-info-window [disableAutoPan]="true" [isOpen]="true">
          <strong>{{currentValue}}</strong>
        </agm-info-window>
      </agm-marker>

<!--
      <app-wms-layer *ngIf="wmsParametersSat" #wmsSat
        [url]="wmsURL"
        [params]="wmsParametersSat"
        [opacity]="0.5"
        [position]="0">
      </app-wms-layer>

      <app-wms-layer #wms
        [url]="wmsURL"
        [params]="wmsParameters"
        [opacity]="0.5"
        [position]="1">
      </app-wms-layer>
-->
      <app-wms-layer #wms
        [url]="wmsURL"
        [params]="wmsParameters"
        [opacity]="layerOpacity"
        [position]="0">
      </app-wms-layer>

      <agm-data-layer *ngIf="geoJsonObject"
                      [geoJson]="geoJsonObject"
                      (layerClick)="clicked($event)"
                      [style]="staticStyles">
      </agm-data-layer>

<!--
      <app-map-control position="RIGHT_BOTTOM">
      </app-map-control>
-->
      <map-control position="LEFT_TOP">
        <div class="card">
          <div class="card-block">
            <app-date-control></app-date-control>
            <fmc-search (coordinatesSelected)="moveAndZoom($event)"></fmc-search>
          </div>
        </div>
      </map-control>

      <map-control position="LEFT_TOP">
        <div class="card">
          <div class="card-block">
            <fmc-layer-control (layerChanged)="layerChanged($event)"></fmc-layer-control>
            <fmc-vector-layer-selection (selectedLayerChanged)="vectorLayerChanged($event)"></fmc-vector-layer-selection>
            <fmc-base-layer-selection (baseLayerChanged)="baseLayerChanged($event)"></fmc-base-layer-selection>
            <fmc-layer-opacity-selector (opacityChanged)="opacityChanged($event)">
            </fmc-layer-opacity-selector>
          </div>
        </div>
      </map-control>

      <map-control position="LEFT_BOTTOM">
        <div class="card">
          <div class="card-block">
            <map-legend [title]="mapTitle"
                        [mapUnits]="mapUnits"
                        [cbPalette]="wmsPalette"
                        [cbCount]="wmsColourCount"
                        [cbReverse]="wmsReverse"
                        [cbRange]="wmsRange"></map-legend>
          </div>
        </div>
      </map-control>

      <map-control position="BOTTOM_CENTER">
        <div class="chart-map-control" [style.width]>
          <app-charts [coordinates]="selectedCoordinates"
                      [year] = "selection.year"
                      [height]="chartHeight" ></app-charts>
        </div>
      </map-control>

    </agm-map>
    <!--

      (mapClick)="mapClicked($event)">

      <sebm-google-map-marker
          *ngFor="let m of markers; let i = index"
          (markerClick)="clickedMarker(m.label, i)"
          [latitude]="m.lat"
          [longitude]="m.lng"
          [label]="m.label"
          [markerDraggable]="m.draggable"
          (dragEnd)="markerDragEnd(m, $event)">

        <sebm-google-map-info-window>
          <strong>InfoWindow content</strong>
        </sebm-google-map-info-window>

      </sebm-google-map-marker>

      <sebm-google-map-circle [latitude]="lat + 0.3" [longitude]="lng"
          [radius]="5000"
          [fillColor]="'red'"
          [circleDraggable]="true"
          [editable]="true">
      </sebm-google-map-circle>
    -->
</div>
