.main-map {
  bottom: 50px;
  width: 100%;
}

.card.map-control {
  border-color: #000000;
  margin: 5px;
  box-shadow: 1px 1px 1px #888888;
}

.card.chart {
  width: 700px;
}

.control-card-content {
  padding: 10px;
}

.dateSearchCard {
  z-index: 2;
}

.layerSelectorCard {
  z-index: 1;
  width: 200px;
}

.buttonContainer {
  width: 55px;
}

.collapse-arrow {
  float: right;
}
