<div class="main-map">
  <agm-map [(latitude)]="lat" [(longitude)]="lng" [(zoom)]="zoom" [disableDefaultUI]="false" [mapTypeId]="baseLayer?baseLayer.map_type_id : null"
    [zoomControl]="false" (mapClick)="mapClick($event)" (centerChange)="moved($event)" (zoomChange)="zoomed($event)"
    [fitBounds]="bounds"
    scaleControl="true">

    <agm-marker *ngIf="marker" [longitude]="marker.loc.lng" [latitude]="marker.loc.lat">

      <agm-info-window [disableAutoPan]="true" [isOpen]="marker.open">
        <span *ngIf="!marker.value;then markerValueLoading;else markerValueLoaded"></span>
        <ng-template #markerValueLoading><i class="fa fa-spinner fa-pulse" aria-hidden="true"></i></ng-template>
        <ng-template #markerValueLoaded>{{marker.label}}: {{marker.value}}{{mainLayer.layer.suffix}}</ng-template>
      </agm-info-window>
    </agm-marker>

    <!--
      <wms-layer *ngIf="wmsParametersSat" #wmsSat
        [url]="wmsURL"
        [params]="wmsParametersSat"
        [opacity]="0.5"
        [position]="0">
      </wms-layer>

      <wms-layer #wms
        [url]="wmsURL"
        [params]="wmsParameters"
        [opacity]="0.5"
        [position]="1">
      </wms-layer>
-->
    <wms-layer #wms *ngIf="mainLayer?.layer" [url]="mainLayer.url" [params]="mainLayer.wmsParameters" [opacity]="mainLayer.opacity"
      [position]="0">
    </wms-layer>

    <!--
        <wms-layer #wmsMask *ngIf="showMask"
        [url]="maskLayer.url"
        [params]="maskLayer.wmsParameters"
        [opacity]="maskLayer.opacity"
        [position]="1">
      </wms-layer>
    -->
    <agm-info-window [(isOpen)]="showIncidentDetails" [latitude]="incidentLat" [longitude]="incidentLng">
      <div [innerHTML]="incidentContent"></div>
    </agm-info-window>

    <agm-data-layer *ngIf="incidentsData" [geoJson]="incidentsData" (layerClick)="incidentClicked($event)" [style]="incidentStyle"></agm-data-layer>

    <agm-data-layer *ngIf="geoJsonObject" [geoJson]="geoJsonObject" (layerClick)="clicked($event)" [style]="staticStyles">
    </agm-data-layer>

    <map-control position="TOP_LEFT" class="test">
      <div>
        <button-bar>
          <div>
            <button class="btn btn-secondary btn-sm" (click)="showWindows = !showWindows" [ngbTooltip]="showWindows?'Hide windows':'Show windows'"
              placement="right">
              <i class="fa" [ngClass]="showWindows?'fa-eye-slash':'fa-eye'"></i>
            </button>
          </div>
          <div *ngIf="showWindows">
            <button class="btn btn-secondary btn-sm" 
                    (click)="zoomIn()"
                    [disabled]="zoom===maxZoom"
                    ngbTooltip="Zoom in"
                    placement="right">
              <i class="fa fa-plus"></i>
            </button>
          </div>
          <div *ngIf="showWindows">
            <button class="btn btn-secondary btn-sm"
                    (click)="zoomOut()"
                    [disabled]="zoom===minZoom"
                    ngbTooltip="Zoom out"
                    placement="right">
              <i class="fa fa-minus"></i>
            </button>
          </div>
          <div *ngIf="showWindows">
            <button class="btn btn-secondary btn-sm" (click)="zoomToFit()" [ngbTooltip]="showWindows?'Hide windows':'Show windows'"
              placement="right">
              <i class="fa fa-arrows-alt"></i>
            </button>
          </div>
          <div *ngIf="showWindows">
            <button class="btn btn-secondary btn-sm" (click)="toggleTransparency()" ngbTooltip="Adjust transparency of grid layer"
              placement="right">
              <i class="fa" [ngClass]="(mainLayer?.opacity<0.5)?'fa-circle-o':((mainLayer?.opacity<0.9)?'fa-adjust':'fa-circle')"></i>
            </button>
          </div>
          <div *ngIf="showWindows">
            <button class="btn btn-secondary btn-sm"
                    (click)="toggleBaseLayer()"
                    ngbTooltip="Toggle base layer"
                    placement="right">
              <i class="fa" [ngClass]="baseLayer?.label==='Road Map'?'fa-road':'fa-globe'"></i>
            </button>
          </div>
          <div *ngIf="showWindows">
            <button class="btn btn-secondary btn-sm"
                    [ngbPopover]="searchPopover"
                    placement="right">
              <i class="fa fa-search"></i>
            </button>
          </div>
          <div *ngIf="showWindows && mainLayer?.layer" class="card map-control">
            <a class="btn btn-secondary btn-sm" [href]="mainLayer.downloadURL">
              <i class="fa fa-download"></i>
            </a>
          </div>
        </button-bar>
      </div>
    </map-control>

    <map-control position="TOP_LEFT" class="test">
      <div *ngIf="showWindows" class="card dateSearchCard map-control">
        <div class="card-block control-card-content">
          <fmc-layer-control (layerChanged)="layerChanged($event)"></fmc-layer-control>
          <app-date-control [start]="dateRange.start" [end]="dateRange.end" [layer]="mainLayer"></app-date-control>
          <fmc-vector-layer-selection (selectedLayerChanged)="vectorLayerChanged($event)"></fmc-vector-layer-selection>
        </div>
      </div>

<!--      <div *ngIf="showWindows" class="card layerSelectorCard map-control">
        <div class="card-block control-card-content">
          <fmc-base-layer-selection (baseLayerChanged)="setBaseLayer($event)"></fmc-base-layer-selection>
          <fmc-layer-opacity-selector (opacityChanged)="setOpacity($event)">
          </fmc-layer-opacity-selector>
        
        </div>
      </div>
      -->
    </map-control>

    <map-control position="LEFT_BOTTOM">
      <div *ngIf="showWindows && mainLayer?.layer" class="card map-control">
        <div class="card-block control-card-content">
          <map-legend [imageURL]="mainLayer.legendImageURL" [title]="mainLayer.layer.name" [mapUnits]="mainLayer.layer.units"
            [cbPalette]="mainLayer.layer.palette?.name" [cbCount]="mainLayer.layer.palette?.count" [cbReverse]="mainLayer.layer.palette?.reverse"
            [cbRange]="mainLayer.layer.range" [colours]="mainLayer.layer.colours" [labels]="mainLayer.layer.labels"
            [helpText]="mainLayer.layer.description"></map-legend>
        </div>
      </div>
    </map-control>

    <map-control position="BOTTOM_CENTER">
      <div *ngIf="showWindows" class="card map-control chart">
        <a (click)="chartIsCollapsed = !chartIsCollapsed">
          <div class="card-header">
            <h6 class="mb-0">
              Chart
              <span *ngIf="chartIsCollapsed" class="fa fa-angle-up
                  collapse-arrow" aria-hidden="true"></span>
              <span *ngIf="!chartIsCollapsed" class="fa fa-angle-down
                  collapse-arrow" aria-hidden="true"></span>
            </h6>
          </div>
        </a>

        <div class="ngbCollapse" [ngbCollapse]="chartIsCollapsed">
          <div class="card-block control-card-content">
            <app-charts [coordinates]="selectedCoordinates" [year]="selection.year" [layer]="mainLayer"></app-charts>
          </div>
        </div>
      </div>
    </map-control>

  </agm-map>
  <!--

      (mapClick)="mapClicked($event)">

      <sebm-google-map-marker
          *ngFor="let m of markers; let i = index"
          (markerClick)="clickedMarker(m.label, i)"
          [latitude]="m.lat"
          [longitude]="m.lng"
          [label]="m.label"
          [markerDraggable]="m.draggable"
          (dragEnd)="markerDragEnd(m, $event)">

        <sebm-google-map-info-window>
          <strong>InfoWindow content</strong>
        </sebm-google-map-info-window>

      </sebm-google-map-marker>

      <sebm-google-map-circle [latitude]="lat + 0.3" [longitude]="lng"
          [radius]="5000"
          [fillColor]="'red'"
          [circleDraggable]="true"
          [editable]="true">
      </sebm-google-map-circle>
    -->

    <ng-template #searchPopover>
      <div class="search-popover">
        <fmc-search (coordinatesSelected)="moveAndZoom($event)"></fmc-search>
      </div>
    </ng-template>
</div>