
.discrete-icon{
  color: #aaa;
}

.discrete-icon:hover{
  color:#222;
}


.bb-vertical{
  max-width:32px;
}

.bb-vertical{
 .btn.btn-sm {
    width:32px !important;
    max-width:32px !important;
 }
}

.sebm-google-map-container{
  width:100%;
  height:100%;
}
