$fa-font-path: "../node_modules/font-awesome/fonts";
/* You can add global styles to this file, and also import other style files */

$crc-red:rgb(221,34,28);
$crc-orange:rgb(240,128,0);
$crc-yellow:rgb(245,221,37);
$footer-colour:rgb(35,31,32);
$link-color:rgb(165,169,172);

$font-family-sans-serif: 'Montserrat', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-base:       $font-family-sans-serif;

@import "../node_modules/font-awesome/scss/font-awesome.scss";
@import '../node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.gm-style{
  font-family: $font-family-sans-serif !important;
}

.navbar-inverse {
  background:white;
  padding-top:2px;

  .navbar-brand{
    color:black;
    font-weight: bolder;
  }

  .navbar-brand:hover{
    color:black;
  }
}

.header-block{
  margin-right:10px;
  display:inline-block;
  height:35px;
  width: 10px;
  background-color: rgb(239,56,42);
}

.header-title{
  vertical-align: text-bottom;
  height:35px;
  display:inline-block;
}

.main-map{
  position:fixed;
  left:0px;
  top:50px; /* $navbar-height */
  width:100%;
  height:auto;
/*  height:400px;
  position:relative;
  top:0px;
*/
}

.main-chart {
  position:fixed;
  width:100%;
}

.sebm-google-map-container{
  width:100%;
  height:100%;
}

/*
@media screen and (min-width:($screen-xs-max+1)) {
 */

@include media-breakpoint-up(sm) {
  h1{
    color:#0F0;
  }

  .main-map {
    position:fixed;
    left:0px;
    top:50px; /* $navbar-height */
/*    bottom:50px;*/

    width:100%;
    height:auto;
  }
}

.footer {
  position: fixed;
  bottom: 0px;
  left:0px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  line-height: 50px; /* Vertically center the text there */
  background-color:$footer-colour;
  font-variant: all-small-caps;
  font-weight: bold;
  a {
    color: $link-color;
  }

  a:visited {
    color: darken($link-color,10%);
  }
}


.hoverlayer{
/*    path{
        fill: #fff !important;
        stroke: #ccc !important;
    }
*/

    text{
        fill: #000 !important;
    }
}

.bnhcrc-logo{
  margin-bottom: 6px;
}