$fa-font-path: "../node_modules/font-awesome/fonts";
/* You can add global styles to this file, and also import other style files */

$crc-red:rgb(221,34,28);
$crc-orange:rgb(240,128,0);
$crc-yellow:rgb(245,221,37);


@import "../node_modules/font-awesome/scss/font-awesome.scss";
@import '../node_modules/bootstrap/scss/bootstrap';

.navbar-inverse {
  background:$crc-yellow;

  .navbar-brand{
    color:black;
  }
}

.main-map{
  height:400px;
  position:relative;
  top:0px;
}

.sebm-google-map-container{
  width:100%;
  height:100%;
}

/*
@media screen and (min-width:($screen-xs-max+1)) {
 */

@include media-breakpoint-up(sm) {
  h1{
    color:#0F0;
  }

  .main-map {
    position:fixed;
    left:0px;
    top:50px; /* $navbar-height */
    bottom:50px;
    width:100%;
    height:auto;
  }
}

.footer {
  position: fixed;
  bottom: 0px;
  left:0px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  line-height: 50px; /* Vertically center the text there */
  background-color:$crc-yellow;

  .container-fluid{
    padding-left:0px;
    padding-right:0px;
  }
}
