<div class="form-group row mb-0">
  <label for="location" class="col-sm-2 col-form-label sr-only">Search</label>
  <div class="col">
    <div class="input-group input-group-sm">
      <input id="location"
             class="form-control form-control-sm"
             name="location"
             [(ngModel)]="address"
             placeholder="Search (lat/lon or address)"
             [ngbTypeahead]="search"
             [resultFormatter]="formatter"
             [inputFormatter]="formatter"
             (keyup.enter)="gotoLocation()"/>
      <div class="input-group-addon" (click)="gotoLocation()">
        <i class="fa fa-search"></i>
      </div>
    </div>
  </div>
</div>
